.bg-color{
  background-color: #1A8E76;
  color: #ffffff;
}

.backgorund
{
     background-color:#0E2E50;
     color: #fff;
      border-radius: 0 !important;
}
.backgorund2
{
     background-color:#0E2E50;
     color: #fff;
}

.detail{
     display: flex;

}
.detail p
{
  font-weight: 700;
  color: #000;
  width: 25%;
}
.active3{
     background-color: #136B5A;
}


