.background-image{
	position: relative;
	top: 0;
	left: 0;
}
 .color{
  color: #fff;
 }
 .contact_agent {
  color: #999898;
 }
 .product_data{
  display: flex;
  flex-direction: row;
  width: 95%;
}
.data_row{
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}

.category_data5 p{
  position: absolute;
  right: 0;
  top: 1%;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #198754;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;

    font-weight: bold;
}
@media (min-width: 1500px) and (max-width: 2000px)
{
 .seller_name2
 {
  color: #fff;
 }
 .seller_name2 h6{
  font-size: 3vw;
 }
 .seller_name2 p{
  font-size: 1.1vw;
  color: #FF385C;
 }


.width_card3{
  width: 80%;
 }
 .card_height{
  height: 15rem;
 }

 .product_image{
  
  height: 20rem;

}

 .category_data2 p{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.product_data h5
{
  
  font-size: 1vw;
  
}

.add_comany_img{
  width: 20%;
 margin-right: 4%;
}
.contact_buttom{
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 60%;
  z-index: 999;
}
.heart_search{
  color: red;
  margin-top: 3%;
  font-size: 2vw;
  cursor: pointer;
}
.product_data,.detail_add{
  margin-left: 2%;
}
}
@media (min-width: 1025px) and (max-width: 1500px)
{
 .seller_name2
 {
  color: #fff;
 }
 .seller_name2 h6{
  font-size: 3vw;
 }
 .seller_name2 p{
  font-size: 1.1vw;
  color: #FF385C;
 }


.width_card3{
  width: 80%;
 }
 .card_height{
  height: 15rem;
 }

 .product_image{
  
  height: 15rem;

  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

 .category_data2 p{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}


.add_comany_img{
  width: 20%;
 margin-right: 4%;
}
.contact_buttom{
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 60%;
  z-index: 999;
}
.heart_search{
  color: red;
  margin-top: 4%;
  font-size: 2vw;
  cursor: pointer;
}
.product_data,.detail_add{
  margin-left: 2%;
}
}

@media (min-width: 769px) and (max-width: 1024px)
{
  .agent_image{
    height: 10rem;
   
    }

   .seller_name2
  
 {
  color: #fff;
 }
 .seller_name2 h6{
  font-size: 3vw;
  color: #fff;
 }
 .seller_name2 p{
  font-size: 1.4vw;
  color: #FF385C;
 }
 
 
.width_card3{
  width: 100%;
 }
 .card_height{
  height: 15rem;
 }

 .product_image{
  
  height: 15rem;

  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

 .category_data2 p{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.add_comany_img{
  width: 20%;
 margin-right: 4%;
}
.contact_buttom{
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 70%;
  z-index: 999;
}
.heart_search{
  color: red;
  margin-top: 4%;
  font-size: 3vw;
  cursor: pointer;
}
}


@media (min-width: 501px) and (max-width: 769px)
{
  .agent_image{
    height: 20rem;
    overflow: hidden;
    }
   .seller_name2
  
 {
  color: #fff;
 }
 .seller_name2 h6{
  font-size: 4vw;
  color: #fff;
 }
 .seller_name2 p{
  font-size: 2vw;
  color: #FF385C;
 }

 .width_card3{
  width: 100%;
 }
 .card_height{
  height: 50rem;
 }
 .product_image{
  
  height: 15rem;

  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

 .category_data2 p{
  position: absolute;
  left: 0;
  bottom: 42%;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.add_comany_img{
  width: 20%;
 margin-right: 4%;
}
.contact_buttom{
  position: absolute;
  bottom: 0;
  left: 1%;
  width: 70%;
  z-index: 999;
}
.heart_search{
  color: red;
  margin-top: 4%;
  font-size: 4vw;
  cursor: pointer;
}

}




@media (max-width: 500px)
{
 
.seller_name2
 {
  color: #fff;
 }
 .seller_name2 h6{
  font-size: 10vw;
 }
 .seller_name2 p{
  font-size: 4vw;
  color: #FF385C;
 }

 .width_card3{
  width: 100%;
 }
 .card_height{
  height: 10rem;
 }
 .product_image{
  width: 100%;
  height: 10rem;

  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

 .category_data2 p{
  position: absolute;
  left: 0;
  bottom: 57%;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.add_comany_img{
  width: 20%;
 margin-right: 5%;
}
.heart_search{
  display: none;
}

}

