.see_all_button{
  background-color: red;
  margin-left:93% ;
}
.show_more_filter,.hide_more_filter 
{ 
  font-size: 1.2vw;
  color:#fff ;
  text-decoration: none;
}
.hide_more_filter{
  float: right;
}
.input_checkbox3{
  display: flex;
  width: 30%;
  height: 3rem;
  color:#fff;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  margin-left: 2%;
  border: .2px solid #fff;
}
.input_checkbox3 label{
   font-size: 1vw;
   font-weight: 600;
}
.all_checkbox{
  display: flex;
   height: 5rem;
   flex-wrap: wrap;
}
.input_checkbox3 input{
  display: none;
}



.herth{
	margin-right: 3%;
}
.main_add{
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.main_add img{
	border-radius: 1.5%;

}
.main_add p{
	font-size: 11px;
    display: inline-block;
    padding: 9px 20px;
    background: #30E3CA;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    position: absolute;
    top: 65%;
    left: 2%;
    font-weight: bold;
}
.card_hover:hover{
background-color: #30E3CA;
color: #ffffff;
transform: translateY(-10px);
transition: .5s ease;
}

.product_image{
	width: 100%;
	height: 16rem;

	border-top-left-radius: 1%;
	border-top-right-radius: 1%;
}

.link{
    text-decoration: none;
}
.product_data h5
{
  color:#000000 ;
  text-decoration: none;
  font-size: 1.2vw;
  overflow: hidden;
  width: 93%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.product_data p
{
  color:#000000 ;
  text-decoration: none;
}

.product_data span
{
  float: right;
  font-weight: 650;
}
.fa-star{
  color: #000000;
}
.card_height{
  height:19rem
}
.category_data ,.varified{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  text-decoration: none;
 position: absolute;
 top: 62%;
 left: 0;
}
.category_data p , .varified p{
	font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.varified 
{
  top: 2% !important;
}
.varified p
{
  background-color: #0E2E50;

}

 .category_data2 p{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
    display: inline-block;
    padding: 4px 20px;
    background: #DC3545;
    border-radius: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}
.checked{
	color: orange;
}
.search_btn,input,select{
	background-color:#FF385C ;
	color: #fff;

	height: 2.9rem;
}





.heart_search{
  color: red;
  margin-top: 4%;
  font-size: 2vw;
  cursor: pointer;
}

.haart_style{
  position: absolute;
  bottom: 22%;
  right: 2%;
  font-size: 1.3vw;
  color: red;
  cursor: pointer;
}







.browser{
color:#002f34;

font-family:Lato, sans-serif;
font-weight: 600;
font-size: 2rem;
}
.br2{
color:#002f34;

font-family:Lato, sans-serif;

font-size: 1rem;
color: #666666;
}


.a{
  display:block;
  display:none;
  margin-top: 2%;
}

#seeMore{
  display:block;
  color:#fff;
  margin:5% 45% ;
  line-height:50px;
 
  border-radius:30px;
  text-decoration:none;
  border:3px #ee5f4a solid;
  background:#ee5f4a;
  opacity:0.7;
 
}

#seeMore:hover{
  opacity:1;
}
.contact button{
  color: #403b45;
}
.contact button i{
  color: #002F34;
}

@media (max-width: 480px)
{
.area, .product_data2{
  display: flex;
  flex-direction: row;
}
  
   .icon_size{
    font-size:5vw;
    color: #000;
  }
  .haart_style{
  position: absolute;
  bottom: 20%;
  right: 2%;
  font-size: 6vw;
  color: red;
}

/*.container_background3
{
  position: absolute;
  height: 37.8rem;
  top:3.8rem;
  width: 100%;
  background-color: #8D9194;
  opacity: 80%;
}*/
.container_background2
{
 position: absolute;
 top: 6%;
 left: 10%;
 width: 80%;
 height: 9rem;

 opacity: 100%;
}
.container_background2 h1{
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.container_background2 p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;

}

.input_checkbox3 label{
   font-size: 3vw;
   font-weight: 600;
}

.show_more_filter{
  display: none;
}

.container_background{
  background-color: #F2F3F3;
}

.product_data h5{
  font-size: 4vw;
}
#seeMore{
  width: 30%;
}
}

.content_of_add{
  display: flex;
  justify-content: space-between;
}
.add_comany_img{
  width: 20%;
  padding-right: 1%;
}
.detail_add{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact_buttom{
  position: absolute;
  bottom: 0;
  left: 32%;
  width: 50%;
  z-index: 999;
}




@media (min-width: 481px) and (max-width: 768px) {
  .area, .product_data2{
  display: flex;
  flex-direction: row;
}
  
   .icon_size,.price{
    font-size:3vw;
    color: #000;
  }
  
.haart_style{
  position: absolute;
  bottom: 20%;
  right: 2%;
  font-size: 5vw;
  color: red;
}

/* .container_background3
{
  position: absolute;
  height: 37.8rem;
  top:3.8rem;
  width: 100%;
  background-color: #8D9194;
  opacity: 80%;
}*/
.container_background2
{
 position: absolute;
 top: 5%;
 left: 10%;
 width: 80%;
 height: 9rem;

 opacity: 100%;
}
.container_background2 h1{
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.container_background2 p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;

}
.input_checkbox3 label{
   font-size: 3vw;
   font-weight: 600;
}

.show_more_filter{
  display: none;
}

.container_background{
  background-color: #F2F3F3;
}

.product_data h5{
  font-size: 3vw;
}
#seeMore{
  width: 30%;
}
.category_data p{
  margin-top: 0;
}

}


 .area{
    font-size:1vw
  }

@media (min-width: 769px) and (max-width: 1024px) {
.area, .product_data2{
  display: flex;
  flex-direction: row;
}
  
   .icon_size,.price{
    font-size:1.5vw;
    color: #000;
  }
/* .container_background3

{
  position: absolute;
  height: 37.8rem;
  top:3.8rem;
  width: 100%;
  background-color: #8D9194;
  opacity: 80%;
}*/
.container_background2
{
 position: absolute;
 top: 7%;
 left: 10%;
 width: 80%;
 height: 9rem;

 opacity: 100%;
}
.container_background2 h1{
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.container_background2 p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;

}
.input_checkbox3 label{
   font-size: 1.5vw;
   font-weight: 600;
}


.container_background{
  background-color: #F2F3F3;
}

.product_data h5{
  font-size: 2vw;
}
#seeMore{
  width: 30%;
}
.category_data p{
  margin-top: 0;
}

}




@media (min-width: 1025px) and (max-width: 1500px) {

.area, .product_data2{
  display: flex;
  flex-direction: row;
  }
  
   .icon_size,.price{
    font-size:1.2vw;
  
  }


  .haart_style{
  position: absolute;
  bottom: 20%;
  right: 2%;
  font-size: 1.8vw;
  color: red;
  cursor: pointer;
}
/* .container_background3
{
  position: absolute;
  height: 39rem;
  top:8%;
  width: 100%;
  background-color: #8D9194;
  opacity: 80%;
}*/
.container_background2
{
 position: absolute;
 top: 18%;
 left: 10%;
 width: 80%;
 height: 9rem;

 opacity: 100%;
}
.container_background2 h1{
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.container_background2 p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;

}
.input_checkbox3 label{
   font-size: 1.5vw;
   font-weight: 600;
}


.container_background{
  background-color: #F2F3F3;
}


.product_data .area2{

color: #929292;
font-size: 1.2vw;
font-family: Roboto;
}

.product_data p
{
  color:#686868 ;
  font-size: 1.1vw;
  text-decoration: none;
}

#seeMore{
  width: 30%;
}
.category_data p{
  margin-top: 7%;
}

}




@media (min-width: 1501px) and (max-width: 2100px) {
.area , .product_data2{
  display: flex;
  flex-direction: row;
}
 .container_background3
{
  position: absolute;
  height: 37.8rem;
  top:4%;
  width: 100%;
  background-color: #8D9194;
  opacity: 80%;
}
.container_background2
{
 position: absolute;
 top: 7%;
 left: 10%;
 width: 80%;
 height: 9rem;

 opacity: 100%;
}
.container_background2 h1{
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.container_background2 p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;

}
.input_checkbox3 label{
   font-size: 1.5vw;
   font-weight: 600;
}


.container_background{
  background-color: #F2F3F3;
}

.product_data h5{
  font-size: 2vw;
}
#seeMore{
  width: 30%;
}
.category_data p{
  margin-top: 0;
}
.product_data .area2{

color: #929292;
font-size: 1.1vw;
font-family: Roboto;
}

}